<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-coffee</title>
</head>
<body>
<div>
<h2>Add Coffee To Our List!</h2>
<form action="/add-coffee" method="post">
    <input type="text" placeholder="Name" name="Name"><br>
    <input type="text" placeholder="Description" name="Description"><br>
    <input type="text" placeholder="Price" name="Price"><br>
    <input type="text" placeholder="Manufacturer" name="Manufacturer"><br>
    <button type="submit">Add</button>
</form>
</div>
<div>
    <form action="/" method="get">
        <button type="submit">Cancel</button>
        </form>
    </div>

<div>
    <form action="/logout" method="post">
        <button type="submit" >Logout</button>
    </form>
</div>


</body>
</html>