<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee-Exists</title>
</head>
<body>
<!-- Header Starts -->
<header class="main-header">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
        <!-- Nested Row Starts -->
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <!-- Logo Starts -->
                <h1 id="logo"><a href="/">Coffee Community</a></h1>
                <!-- Logo Ends -->
            </div>
            <div class="col-sm-8 col-xs-12">
                <!-- Top Links Starts -->
                <ul class="list-unstyled list-inline top-links text-right-lg text-right-md text-right-sm text-bold">
                    <li><a href="/registration">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
                <!-- Top Links Ends -->
            </div>
        </div>
        <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
</header>
<!-- Header Ends -->
<h1>Sorry! That Coffee already exists!</h1><br>

<h2>Would you like to see it?</h2><br>
Link to the coffee that already exists<br>

<h2>Or would you like to go back to the community page?</h2>
<a href="/"><button type="submit">Community</button></a>


</body>
</html>